body{
  text-align: center;
  font-family: Helvetica;
}

.header{
  background-image: url('../flatiron.png');
  color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

.nav{
  font-size: 18px
}
